# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
staticfiles
*/migrations/*
!*/migrations/__init__.py
.env
.venv
.agents
venv
ENV
env

# IDEs
.vscode
.idea
*.swp
*.swo

# Project specific
.gemini
